:host {
    height: 100%;
    background: url("http://www.ondamusicale.it/images/2016/gennaio1/lionel-richie.jpg") center center no-repeat;
    background-size:cover;
    display: block;

    text-align: center;
    font-size: 20vw;
    color: white;
}
