:host {
    height: 100vh;
    background: url("http://www.ondamusicale.it/images/2016/gennaio1/lionel-richie.jpg") center center no-repeat;
    background-size:cover;
    display: block;
    text-align: center;
    font-size: 72px;
    color: white;
    display:flex;
    text-align: center;
    align-items: center;
    p {
        margin:0 auto;
        display: block;
        text-shadow: 0 0 10px black;
    }
}
