

.toggle-menu {
    padding-left: 20px;
    &.active {
        color:red;
    }
}

.sayhello {
    display: none;
    position:fixed;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    width: 400px;
    height: 200px;
    z-index: 1;
    &.active {
        display: block;
    }
}
