mat-card {
    width: 50%;
}

.mat-card-avatar{
    background: url('https://pbs.twimg.com/profile_images/994722216741781504/3JaM54xk_400x400.jpg') center center no-repeat;
    background-size:cover;
}
